@page
@model MyBookListRazor.IndexModel

<style>
    body {
        background: #cecaca;
        color: white;
    }
</style>
<script></script>
<br />
<div class="container row p-0 m-0">
    <div class="col-8">
        <h2 class="text-info">Book List</h2>
    </div>

    <div class="col-3 mt-1">
        <a asp-page="Create" class="btn btn-info form-control">Crete New Book</a>
    </div>

    <div class="col-12 border p-3 mt-3">
        <form method="post">
            @if (Model.Books.Count() > 0)
            {
                <table class="table table-striped border">
                    <tr class="table-secondary">
                        <th>
                            <label asp-for="Books.FirstOrDefault().Name"></label>
                        </th>
                        <th>
                            <label asp-for="Books.FirstOrDefault().Author"></label>
                        </th>
                        <th>
                            <label asp-for="Books.FirstOrDefault().ISBN"></label>
                        </th>
                        <th>
                            <label>Update and Delete</label>
                        </th>
                    </tr>
                    @foreach (var item in Model.Books)
                    {
                <tr>
                    <td>
                        @Html.DisplayFor(m => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(m => item.Author)
                    </td>
                    <td>
                        @Html.DisplayFor(m => item.ISBN)
                    </td>
                    <td>
                        <button class="btn btn-danger btn-sm">Delete</button>
                        <!--<button class="btn btn-success btn-sm">Edit</button> -->
                        <a class="btn btn-success btn-sm text-white">Edit</a>
                    </td>

                </tr>
                    }
                </table>
            }
            else
            {
                <p>No books Avilable </p>
            }
        </form>
    </div>
</div>